:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.mobile-menu {
    padding: 24px;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
}

.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}

.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
    margin-bottom: 24px;
}

.email {
    font-size: var(--sm);
    font-weight: 300 !important;
}

.sign-out {
    font-size: var(--sm);
    color: var(--hospital-green) !important;
}

@media(max-width: 990px) {
    .menu {
        display: block;
        position: absolute;
        right: 50px;
        width: 30px;
    }

    .mobile-menu {
        position: absolute;
        right: 0;
        border: 2px solid var(--very-light-pink);
        border-radius: 9px;
        background-color: #FFFFFF;
        width: 43%;
        text-align: end;
    }
}

@media(max-width: 640px) {
    .mobile-menu {
        position: absolute;
        right: 0;
        border: 2px solid var(--very-light-pink);
        border-radius: 9px;
        background-color: #FFFFFF;
        width: 100%;
        height: 50%;
        text-align: end;
    }
}

.inactive {
    display: none;
}

#menuD {
    position: absolute;
    right: 600px;
}

#biton {
    position: absolute;
    right: 34px;
    background-color: rgb(84, 156, 204);
}

.menu {
    display: none;
}

@media (min-width: 1190px) {
    .button-Biology {
        top: 189px;
        display: block;
        margin: auto;
        border: none;
        font-size: 25px;
        color: rgb(84, 156, 204);
        background-color: white;
    }

    #biology,
    #hydraulic,
    #tele,
    #photo {
        position: relative;
        top: 0px;
    }

    .santi {
        position: relative;
        margin-top: 659px;
        bottom: 0%;
    }

    .button-Hydraulic {
        display: block;
        margin: auto;
        top: 189px;
        border: none;
        font-size: 25px;
        color: rgb(84, 156, 204);
        background-color: white;
    }

    .button-tele {
        display: block;
        margin: auto;
        top: 189px;
        border: none;
        font-size: 25px;
        color: rgb(84, 156, 204);
        background-color: white;
    }

    .button-photo {
        display: block;
        margin: auto;
        top: 189px;
        border: none;
        font-size: 25px;
        color: rgb(84, 156, 204);
        background-color: white;
        text-decoration: none;
    }

    .button-Biology:hover {
        color: gray;
    }

    .button-tele:hover {
        color: gray;
    }

    .button-photo:hover {
        color: gray;
    }

    .button-Hydraulic:hover {
        color: gray;
    }

    #container-products {
        position: absolute;
    }

    #container-products {
        position: absolute;
        top: 0;
        right: 100px;
    }
}

@media (max-width: 1189px) {
    .button-photo {
        border: none;
        font-size: 25px;
        color: rgb(84, 156, 204);
        background-color: white;
        margin-top: 69px;
        margin-left: 43px;
        margin-bottom: 20px;
        text-decoration: none;
        justify-content: center;
    }

    .button-tele {
        border: none;
        font-size: 25px;
        color: rgb(84, 156, 204);
        background-color: white;
        margin-top: 34px;
        margin-left: 8px;
        margin-bottom: 20px;
        justify-content: center;
    }

    .button-Hydraulic {
        border: none;
        font-size: 25px;
        color: rgb(84, 156, 204);
        background-color: white;
        margin-top: 34px;
        margin-left: 70px;
        margin-bottom: 20px;
        justify-content: center;
    }

    .button-Biology {
        border: none;
        font-size: 25px;
        color: rgb(84, 156, 204);
        background-color: white;
        margin-top: 34px;
        margin-left: 70px;
        margin-bottom: 20px;
        justify-content: center;
    }

    #container-products {
        margin-top: 50px;
    }

    .santi {
        position: relative;
        bottom: 0;
        height: 80px;
        background-color: rgb(84, 156, 204);
    }
}

@media (min-width: 990px) {
    .mobile-menu {
        display: none;
    }
}

@media (max-width: 990px) {
    .menu {
        display: block;
        position: absolute;
        right: 27px;
        width: 30px;
        cursor: pointer;
    }

    .mobile-menu {
        width: 140px;
        height: 280px;
    }
}